In [1]:
import numpy as np
import pandas as pd
import visuals as vs # Supplementary code

# check the version of python
from sys import version_info
if version_info.major != 2 and version_info.minor != 7:
    raise Exception('please use python 2.7 to implement')

%matplotlib inline

/Users/yanghaofan/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/yanghaofan/anaconda2/lib/python2.7/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

# Load housing prices data
'MEDV' is the variable we want to predict whereas 'RM', 'LSTAT' and 'PTRATIO' are features

In [2]:
data = pd.read_csv('housing.csv')
prices = data['MEDV']
features = data.drop('MEDV', axis = 1)
    
# 完成
print "Boston housing dataset has {} data points with {} variables each.".format(*data.shape)

Boston housing dataset has 489 data points with 4 variables each.

In [3]:
data.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [5]:
features.hebad()

      RM  LSTAT  PTRATIO
0  6.575   4.98     15.3
1  6.421   9.14     17.8
2  7.185   4.03     17.8
3  6.998   2.94     18.7
4  7.147   5.33     18.7

In [6]:
prices.head()

0    504000.0
1    453600.0
2    728700.0
3    701400.0
4    760200.0
Name: MEDV, dtype: float64

# Exploration of dataset

### Statistical description

In [7]:

minimum_price = prices.min(axis = 0)
maximum_price = prices.max(axis = 0)
mean_price = prices.mean(axis = 0)
median_price = prices.median(axis = 0)
std_price = prices.std(ddof = 0)


print "Statistics for Boston housing dataset:\n"
print "Minimum price: ${:,.2f}".format(minimum_price)
print "Maximum price: ${:,.2f}".format(maximum_price)
print "Mean price: ${:,.2f}".format(mean_price)
print "Median price ${:,.2f}".format(median_price)
print "Standard deviation of prices: ${:,.2f}".format(std_price)

Statistics for Boston housing dataset:

Minimum price: $105,000.00
Maximum price: $1,024,800.00
Mean price: $454,342.94
Median price $438,900.00
Standard deviation of prices: $165,171.13

## Features & Hypothesis
- 'RM' is the mean value of the number of houses in anc area.
- 'LSTAT' is the ratio of landlords with meager income.
- 'PTRATIO' is the partition of students and teachers in schools of an area   
(# students/ # teachers)